@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: black;
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  
}

/* Hide scrollbar for Chrome, Safari and Edge */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.no-scrollbar {
  scrollbar-width: none;
}

.montserrat-thin {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  font-display: swap
}

.montserrat-extralight {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-display: swap
}

.montserrat-light {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-display: swap
}

.mreg {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-display: swap
}

.mmed {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-display: swap
}

.msemi {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-display: swap
}

.mbold {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-display: swap
}

.mex {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-display: swap
}

.montserrat-black {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-display: swap
}
